<h1>Sign up</h1>

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_username">username</label>
  <input type="text" id="user_username" name="user[username]">
  <label for="user_password">password</label>
  <input type="password" id="user_password" name="user[password]">
  <button>Sign up</button>
</form>